.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-container {
  position: absolute; /* 親要素を基準に配置する */
  top: 50%; /*親要素の上端から50%の位置に配置 */
  left: 50%; /* 親要素の左端から50%の位置に配置 */
  transform: translate(-50%, -50%); /* 要素自体を中央に寄せる */
  width: 80%; /* 親要素の80%の幅を持つ */
  height: 80vh; /* 親要素の80%の高さを持つ */
}
